<!-- Code for Google+ share button -->
<a href="https://plus.google.com/share?url=http://higagan.github.io{{ include.url }}&hl=en-US"
 onclick="javascript:window.open(this.href,'',
  'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
    <kbd>
        <!-- use the google+ logo for the link -->
    
     <i class="svg-icon googleplus"></i>

       
    </kbd>
</a>

<!-- Code for LinkedIn share button -->
<a href="http://www.linkedin.com/shareArticle?mini=true&url=http://higagan.github.io{{ include.url }}&title={{ include.title }}&source={{ include.title }}">
    <kbd>
        <!-- use the linkedin logo for the link -->
    
 <i class="svg-icon linkedin"></i>
       
    </kbd>
</a>

<!-- code for facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <!-- Your share button code -->
  <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>
